.tooth-container {
  width: 50px;
  height: 50px;
  display: grid;

  grid-template-areas:
    ". top ."
    "left center right"
    ". bottom .";

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;

  border: 1px solid #333;
  margin: 4px;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.face {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-size: 11px;
  transition: background-color 0.25s ease, transform 0.1s ease;
}

.face:hover {
  transform: scale(1.12);
  cursor: pointer;
  border: 1px solid #000000;
}

.top { grid-area: top; }
.left { grid-area: left; }
.center { 
  grid-area: center;
  font-weight: bold;
}
.right { grid-area: right; }
.bottom { grid-area: bottom; }

/* DIAGNOSTICOS */

.caries {
  background: #d9534f;
  color: white;
}

.obturacion {
  background: #5bc0de;
  color: white;
}

.fractura {
  background: #f0ad4e;
  color: white;
}

.sellante {
  background: #5cb85c;
  color: white;
}

/* SELECCION */

.tooth-container.selected {
  transform: scale(1.05);
  border-color: #4caf50;
}

.tooth-container.selected .face {
  border-color: #4caf50;
}


.diagnosis-caries {
  background-color: #ff4d4d;
}

.diagnosis-obturacion {
  background-color: #4da6ff;
}

.diagnosis-fractura {
  background-color: #ff9933;
}

.diagnosis-sellante {
  background-color: #66cc66;
}